Package: com.libe.pokebar
Name: PokeBar
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Pokemon R/B/Y style notifications.
Maintainer: Liberato Aguilar
Author: Liberato Aguilar
Section: Tweaks
Version: 1.0-14+debug
Installed-Size: 120
